body {
    background: url('./img/6163766.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.form-container {
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 350px;
}

.form-container h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.form-container input {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
}

.form-container input::placeholder {
    color: white;
}

.form-container .btn-primary {
    background-color: #FFAF87;
    border: none;
}

.form-switch {
    color: white;
    text-align: center;
}